.container {
 
    .header {
        background-color: black;
        width: 100%;
        height: 50px;


    } 

    .Section{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;

        .card{
            background-color: orangered;
            padding: 2rem;
            border: double gold;
            border-radius: 1rem;
        }

        .part-6 {
            background-color: orange;
        }
    }
}